
        body {
            margin: 0 0;
            background-color: #f5f9fd;
            font-family: 'Poppins', sans-serif;
        }

        header {
            position: fixed;
            display: flex;
            width: 100%;
            top: 0;
            left: 0;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0px 0px 5px #bdbdbd;
        }

        header h1 {
            margin: 0;
            margin-right: 10px;
        }

        main {
            width: 80%;
            margin: 0 auto;
            margin-top: 200px;
        }

        .form-section {
            display: flex;
            flex-wrap: wrap;
            border-top: 2px solid #bdbdbd;
            padding-top: 36px;
            margin-bottom: 50px;
        }

        .form-section-info {
            width: 50%;
        }

        .form-section-info h3 {
            width: 80%;
            margin-block-start: 0px;
            color: #002239;
        }

        .form-section-info p {
            width: 80%;
            color: #537291;
        }

        .form-input {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        .form-input label {
            width: 100%;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
            color: #002239;

        }

        .form-input input {
            width: 473px;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #e0e0e0;
            padding-left: 16px;
            font-weight: 300;
            font-size: 16px;
        }

        .form-input select {
            width: 491px;
            height: 50px;
            border-radius: 8px;
            border: 1px solid #e0e0e0;
            padding-left: 16px;
            font-weight: 300;
            font-size: 16px;
        }

        .col-md-6{
            flex: 0 0 50%;
            max-width: 50%;
        }
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
        @media (max-width: 768px) {
            .form-section-info {
                width: 100%;
            }

            .form-section-inputs {
                margin-top: 48px;
                width: 100%;
            }
        }
